.yo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-bottom: 10px;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: #CDD3DA;
    border: 2px solid transparent;
  }
  .card:hover{
    border: 2px solid #FFC107;
  }
  img {
    width: 250px;
    margin: 20px;
    border-radius: 20px;
  }
  img:hover{
    transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
  }
  p{
    background-color: #CDD3DA;
  }
  h2 {
    color: black;
    background-color: #CDD3DA;
  }
  a {
    color: #0b0089;
    text-decoration: none;
    background-color: #CDD3DA;
  }