*{
   background-color: #C0C6CD;
}
span{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: rgb(13, 7, 7);
    font-weight: 600;
    font-size: 20px;
}
.custom-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.btn-4{
    margin: 0 auto;
    gap: 20px;
}
.btn{
    border: 2px solid transparent;
    border-color: #070808;
    border-radius: 10px;
    font-size: 20px;
}
.btn:hover{
    border: 2px solid #FFC107;
}